[submodule "Samples"]
	path = Samples
    ignore = dirty
	url = git@github.com:kevleyski/kasm_priv_samples.git
[submodule "Wavetables"]
	path = Wavetables
    ignore = dirty
	url = git@github.com:kevleyski/kasm_priv_wavetables.git
[submodule "Live Sets"]
	path = Live Sets
    ignore = dirty
	url = git@github.com:kevleyski/kasm_priv_music.git
[submodule "MIDI Tools"]
	path = MIDI Tools
    ignore = dirty
	url = git@github.com:kevleyski/kasm_priv_max4live.git
